@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 75% 91%;
    --foreground: 45 10% 20%;
    --card: 45 75% 96%;
    --card-foreground: 45 10% 20%;
    --popover: 45 75% 96%;
    --popover-foreground: 45 10% 20%;
    --primary: 45 91% 44%;
    --primary-foreground: 45 60% 98%;
    --secondary: 45 20% 85%;
    --secondary-foreground: 45 10% 20%;
    --muted: 45 20% 88%;
    --muted-foreground: 45 10% 40%;
    --accent: 30 91% 44%;
    --accent-foreground: 30 60% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 80%;
    --input: 45 20% 85%;
    --ring: 45 91% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 45 5% 8%;
    --foreground: 45 20% 94%;
    --card: 45 5% 12%;
    --card-foreground: 45 20% 94%;
    --popover: 45 5% 12%;
    --popover-foreground: 45 20% 94%;
    --primary: 45 91% 44%;
    --primary-foreground: 45 10% 10%;
    --secondary: 45 10% 20%;
    --secondary-foreground: 45 20% 94%;
    --muted: 45 10% 20%;
    --muted-foreground: 45 10% 60%;
    --accent: 30 91% 44%;
    --accent-foreground: 30 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 10% 25%;
    --input: 45 10% 20%;
    --ring: 45 91% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
